@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); 
@tailwind base;
@tailwind components;
@tailwind utilities;



body, html {

    font-family: 'Open Sans'!important;
    scroll-behavior: smooth;
}

  .styled-scrollbar::-webkit-scrollbar {
    width: 9px!important;
    height: 12px;
  }
  
  .styled-scrollbar::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.215)!important;
    margin-top: 3px;
    margin-bottom: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .styled-scrollbar::-webkit-scrollbar-thumb {
    background-color: red!important;    /* color of the scroll thumb */
    border-radius: 20px!important;       /* roundness of the scroll thumb */
    border: 3px solid #FFF!important;  /* creates padding around scroll thumb */
  }
  
  

.slide-1 {

    background-image: url(https://uploaddeimagens.com.br/images/004/012/125/full/Grupo_105.png?1662470068);
    background-attachment: fixed;
    min-height: 500px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.slide-2 {

    background-image: url(https://uploaddeimagens.com.br/images/004/014/376/full/Grupo_156.png?1662643441);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.bg-servicos {

    background-image: url(https://uploaddeimagens.com.br/images/004/018/819/full/Grupo_87.png?1662988757);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.bg-quem-somos {

    background-image: url(/site-novo/images/bg-quem-somos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.bg-contato {

    background-image: url(/site-novo/images/bg-contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.bg-reengenharia {

    background-image: url(/site-novo/images/bg-reengenharia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.bg-obrigado {

    background-image: url(/site-novo/images/bg-reengenharia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-slide {

    background-image: url(/site-novo/images/bg-slide.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.pulse-anima {

    animation: pulseAnima 2s infinite;
}

@keyframes pulseAnima {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {

        transform: scale(1.5);
        opacity: 0;
    }

}

.pulse-anima2 {

    animation: pulseAnima 1.8s infinite;
}

@keyframes pulseAnima2 {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {

        transform: scale(1.1);
        opacity: 0;
    }

}

.pulse-anima3 {

    animation: pulseAnima 1.5s infinite;
}

@keyframes pulseAnima3 {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {

        transform: scale(1.3);
        opacity: 0;
    }

}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color,#FFF);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .4);
    border: #FFF 1px solid;
  }


.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color,#FFF);
  }

.black-gradient {

    background-image: linear-gradient(to left top, #a80000, #820015, #59081a, #300d15, #000000);
}

.whoSlide-single {


    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(34, 39, 41);
    padding: 26px 24px;
    border-radius: 10px;
    height: 680px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    max-width: 562px;
    border: 1px solid #A00000;
    text-align: center;
    -moz-box-align: center;
    align-items: center;
}

@media screen and (min-width: 320px) {
    
    html {
        font-size: 80%;
    }

    .lp-slide-single {

        display: flex;
        justify-content: center;
    }


}

@media screen and (min-width: 620px) {

    .absolute-center {

        right: 0%;
        top: 5%;
        transform: translateX(-50%);
    }

    .lp-slide-single {

        display: block;
        justify-content: start;
    }
}

@media screen and (min-width: 768px) {
    
    html {
        font-size: 90%;
    }

    .absolute-center {

        right: 0;
        top: 5%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 960px) {
    
    html {
        font-size: 85%;
    }

    .absolute-center {

        left: 50%;
        top: 5%;
        transform: translateX(-50%);
    }
}


@media screen and (min-width: 1200px) {
    
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 1556px) {

    html {
        font-size: 100%;
    }
}

